# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
.venv

# Environment variables
.env

# Django stuff:
*.log
*.pot
*.pyc
*.mo
# If you ever use SQLite:
db.sqlite3

# Media (if you collect user uploads here)
media/
# Static files (if you collect static here)
staticfiles/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs
*.log

# Local settings (if you create one)
local_settings.py

jwt-signing.pem
jwt-signing.pub